<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="OwnedEntity Extension">
            <directory suffix="Test.php">./CrEOF/Security/OwnedEntity/</directory>
        </testsuite>
        <testsuite name="Mapping Extension">
            <directory suffix="Test.php">./CrEOF/Security/Mapping/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../lib</directory>
        </whitelist>
    </filter>
</phpunit>
